// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
$veryLightGray: hsl(0, 0%, 98%);
$darkPink: #8d235c;

// Font Sizes
$font-sm: 0.375rem; // 6px
$font-med: 0.5rem; // 8px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
